.jumbotron {
    background-color: rgb(8, 61, 108);
    color: #ffffff;
    margin-top: 50px;
}
.category {
    flex:1 200px;
    margin-top: 10px;
    
}

footer {
    background-color: rgb(8, 61, 108);
    padding: 10px 10px 0px 10px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.subt{
    text-align: center;
}
.tab-content{
    padding-top: 10px;
    
}

#carouselControls{
    padding-bottom: 20px;

}