.jumbotron {
  background-color: #083d6c;
  color: #e8f007;
  margin-top: 50px;
  margin-bottom: 0px; }

.category {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  background-color: #083d6c;
  padding: 10px 10px 0px 10px;
  margin-top: 40px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.subt {
  text-align: center; }

.tab-content {
  padding-top: 10px; }

#carouselControls {
  padding-bottom: 20px; }
