@Blue:#083d6c;

.margenes(@top:0px, @bottom:0px)
{
  margin-top:@top;
  margin-top:@bottom;
}


.jumbotron {
  background-color:@Blue;
  color: #ffffff;
  .margenes (50px, 0px);
   }

.category {
  flex: 1 200px;
  .margenes(10px, 0px);
   }

footer {
  background-color:@Blue;
  padding: 10px 10px 0px 10px;
  .margenes(40px, 10px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.subt {
  text-align: center; }

.tab-content {
  padding-top: 10px; }

#carouselControls {
  padding-bottom: 20px; }
