$Blue: rgb(8, 61, 108);

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom:$bottom;
}
.jumbotron {
    background-color: $Blue;
    color: #e8f007;
    @include margenes(50px, 0px);
}
.category {
    flex:1 200px;
    @include margenes(10px, 0px);
    
}

footer {
    background-color: $Blue;
    padding: 10px 10px 0px 10px;
    @include margenes(40px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.subt{
    text-align: center;
}
.tab-content{
    padding-top: 10px;
    
}

#carouselControls{
    padding-bottom: 20px;

}